  <div class="user-details">
  <h1> About me </h1>
<!---  <p> {{site.user_description}} </p> --->

<p>
  Hi there! I am currently pursuing a Ph.D. in Physics at 
  <a href="https://wustl.edu" target="_blank">Washington University in St. Louis</a>, 
  specializing in Astroparticle Physics and Cosmology. My research interests include 
  <em><a href="https://www.symmetrymagazine.org/collection/neutrinos-101" target="_blank">neutrinos</a></em> 
  and <em><a href="https://www.symmetrymagazine.org/collection/dark-matter-101" target="_blank">dark matter</a></em>, 
  and how they shape the evolution of the early Universe. You can find my Master's thesis on sterile neutrinos below.
</p>
