  <div class="user-details">
  <h1> About me </h1>
<!---  <p> {{site.user_description}} </p> --->

<p> Hi there! I am studying physics at <a href="https://rwth-aachen.de">RWTH Aachen</a> with a focus on Astroparticle physics and Cosmology. 
  I am interested in <em><a href="https://www.symmetrymagazine.org/collection/neutrinos-101">neutrinos</a></em>, <em><a href="https://www.symmetrymagazine.org/collection/dark-matter-101">dark matter</a></em>, 
  and how they can help us to understand the mysteries of the Universe! You can find my master thesis related to sterile neutrinos down below.</p>
