<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="DW mechanism" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sterile neutrino dark matter production in
presence of non-standard neutrino self-interactions</h3>
    <p>Sterile neutrinos with keV-scale masses are popular candidates for warm dark matter. 
In the most straightforward case they are produced via oscillations with active neutrinos. 
We introduce effective self-interactions of active neutrinos and investigate the effect on the parameter space of 
sterile neutrino mass and mixing. Our focus is on mixing with electron neutrinos, which is subject to constraints 
from several upcoming or running experiments like TRISTAN, ECHo, BeEST and HUNTER.</p>
    <a class="project-link" href="https://arxiv.org/abs/2112.00758">PDF</a>
    <a class="project-link" href="https://doi.org/10.1103/PhysRevD.105.055016">DOI</a>
    <a class="project-link" href="files/Master_Thesis_Ujjayini_Ramachandran.pdf">Master Thesis</a>
  </div>
</div>
